* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-wrapper.light {
    background-color: #ffffff;
    color: #380036;
    min-height: 100vh;
}

.app-wrapper.dark {
    background-color: #380036;
    color: #ffffff;
    min-height: 100vh;
}

.header {
    background-color: beige;
}

.dark .header {
    background-color: #06897c;
}